.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  
  mat-list {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 8px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    align-self: flex-start;
  }
  .order-status {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #4caf50; /* Green color for the text and tick mark */
  }
  
  .tick-mark {
    margin-right: 8px; /* Space between tick mark and text */
    font-size: 20px; /* Slightly larger tick mark */
  }
  
  .status-text {
    font-size: 16px;
  }
  